<!-- Sidebar Navigation -->
 <div id="Sidebar" class="sidebar">
    <h2 class="logo">Navigation</h2>

    <ul class="nav-links">
        <li><a href="/Front-end/pages/home.html">Home</a></li>
        <li><a href="/Front-end/pages/about.html">About</a></li>
        <li><a href="/Front-end/pages/services.html">Services</a></li>
        <li><a href="/Front-end/pages/contact.html">Contact</a></li>
    </ul>
 </div>   

<!-- sidebar Toggle Button -->
 <button id="toggleBtn" class="toggle-btn">☰</button>
